[class*="btn-"] {
  outline: 0;
  border-radius: 50px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  overflow: hidden;
  position: relative;
  padding: 2em 3em;
  margin: 4em;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  font-size: 4rem;
}

[class*="btn-"]::after,
[class*="btn-"]::before {
  content: "";
  position: absolute;
}

[class*="btn-"]:hover,
[class*="btn-"]:focus {
  background: rgba(255, 255, 255, 0.8);
}

[class*="btn-mix"]::after {
  background: #222;
  border-radius: 120px;
  content: attr(data-text);
  color: #fff;
  padding: 1.6em 2.5em;
  top: 0.4em;
  left: 0.5em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class*="btn-mix"]::before {
  background: transparent;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  /* -webkit-box-shadow: 0 1em 2em 3em rgba(255, 50, 0, 0.5),
    4em 0em 2em 2em rgba(155, 50, 0, 0.6),
    -4em -2em 2em 2em rgba(255, 0, 150, 0.5),
    -4em 2em 2em 4em rgba(0, 0, 150, 0.5), 0 -3em 2em 3em rgba(120, 250, 0, 0.5),
    2em -1em 2em 2em rgba(50, 10, 200, 0.5); */
  box-shadow: 0 1em 2em 3em rgba(255, 50, 0, 0.5),
    4em 0em 2em 2em rgba(155, 50, 0, 0.6),
    -4em -2em 2em 2em rgba(255, 0, 150, 0.5),
    -4em 2em 2em 4em rgba(0, 0, 150, 0.5), 0 -3em 2em 3em rgba(120, 250, 0, 0.5),
    2em -1em 2em 2em rgba(50, 10, 200, 0.5);
  width: 0;
  height: 0;
  -webkit-animation: mix 5s linear infinite;
  animation: mix 5s linear infinite;
}

@-webkit-keyframes mix {
  30% {
    /* -webkit-box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5),
      4em -1em 2em 3em rgba(255, 50, 0, 0.8),
      -4em 2em 3em 2em rgba(155, 200, 0, 0.5),
      -4em -2em 2em 2em rgba(200, 0, 150, 0.6),
      0 3em 2em 2em rgba(20, 250, 0, 0.5),
      2em 1em 2em 2em rgba(50, 10, 250, 0.5); */
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5),
      4em -1em 2em 3em rgba(255, 50, 0, 0.8),
      -4em 2em 3em 2em rgba(155, 200, 0, 0.5),
      -4em -2em 2em 2em rgba(200, 0, 150, 0.6),
      0 3em 2em 2em rgba(20, 250, 0, 0.5),
      2em 1em 2em 2em rgba(50, 10, 250, 0.5);
  }
  60% {
    /* -webkit-box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5),
      3em 1em 2em 3em rgba(25, 150, 0, 0.6),
      3em -2em 3em 3em rgba(155, 200, 0, 0.5),
      -4em 2em 2em 3em rgba(200, 0, 50, 0.6),
      0 -3em 2em 3em rgba(200, 250, 0, 0.5),
      -2em 1em 2em 3em rgba(50, 210, 250, 0.6); */
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5),
      3em 1em 2em 3em rgba(25, 150, 0, 0.6),
      3em -2em 3em 3em rgba(155, 200, 0, 0.5),
      -4em 2em 2em 3em rgba(200, 0, 50, 0.6),
      0 -3em 2em 3em rgba(200, 250, 0, 0.5),
      -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
  }
}

@keyframes mix {
  30% {
    /* -webkit-box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5),
      4em -1em 2em 3em rgba(255, 50, 0, 0.8),
      -4em 2em 3em 2em rgba(155, 200, 0, 0.5),
      -4em -2em 2em 2em rgba(200, 0, 150, 0.6),
      0 3em 2em 2em rgba(20, 250, 0, 0.5),
      2em 1em 2em 2em rgba(50, 10, 250, 0.5); */
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5),
      4em -1em 2em 3em rgba(255, 50, 0, 0.8),
      -4em 2em 3em 2em rgba(155, 200, 0, 0.5),
      -4em -2em 2em 2em rgba(200, 0, 150, 0.6),
      0 3em 2em 2em rgba(20, 250, 0, 0.5),
      2em 1em 2em 2em rgba(50, 10, 250, 0.5);
  }
  60% {
    /* -webkit-box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5),
      3em 1em 2em 3em rgba(25, 150, 0, 0.6),
      3em -2em 3em 3em rgba(155, 200, 0, 0.5),
      -4em 2em 2em 3em rgba(200, 0, 50, 0.6),
      0 -3em 2em 3em rgba(200, 250, 0, 0.5),
      -2em 1em 2em 3em rgba(50, 210, 250, 0.6); */
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5),
      3em 1em 2em 3em rgba(25, 150, 0, 0.6),
      3em -2em 3em 3em rgba(155, 200, 0, 0.5),
      -4em 2em 2em 3em rgba(200, 0, 50, 0.6),
      0 -3em 2em 3em rgba(200, 250, 0, 0.5),
      -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
  }
}

.buttonDiv {
  overflow: hidden;
  background: #222;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* This decides the size of the button */
  font-size: 1.5vw;
}

a {
  text-decoration: none;
}
