* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 25, 36);
  font-family: "Orbitron", sans-serif;
}

.videoTag {
  position: absolute;
  width: 100%;
  z-index: -1;
}
